.info-box {
    margin-bottom: 18px;
    background-color: #222d31;
    color: white;

}

.box_ {
    position: relative;
    border-radius: 2px;
    background: #222d31;
    width: 100%;
    border: 1px solid hsl(0,0%,80%);
    margin-bottom: 18px;
}


.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
    font-size: 14px;
    color: aliceblue;
}