.skin-blue .main-header .navbar {
    background-color: #055f1a;
}

.skin-blue .main-header .logo {
    background-color: #055f1a;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #055f1a;
}

.skin-blue .main-header .logo:hover {
    background-color: #055f1a;
}